<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Smart Mart</h2>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" (click)="fireEvent(1)">Users</a>
    <a mat-list-item routerLinkActive="list-item-active" (click)="fireEvent(2)">Products</a>
    <a mat-list-item routerLinkActive="list-item-active" (click)="fireEvent(3)">Promotions</a>
    <a mat-list-item routerLinkActive="list-item-active" (click)="fireEvent(3)">Feedbacks</a>
    <a mat-list-item routerLinkActive="list-item-active" (click)="fireEvent(3)">Reports</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>