<mat-nav-list>
    <div class="profile-card">
        <div class="header">
         <a class="User" *ngIf=(UserName$)  as username>{{username}}</a>    
        </div>
        <!--<img src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">-->
        <span>  <img src="assets/smart.png" ></span>
       
    </div>

    <mat-divider></mat-divider>

    
    <a mat-list-item routerLinkActive="list-item-active" (click)="fireEvent(0)">Reports</a>
    <a mat-list-item routerLinkActive="list-item-active" (click)="fireEvent(1)">Users</a>
    <a mat-list-item routerLinkActive="list-item-active" (click)="fireEvent(2)">Products</a>
    <a mat-list-item routerLinkActive="list-item-active" (click)="fireEvent(3)">Promotions</a>
    <a mat-list-item routerLinkActive="list-item-active" (click)="fireEvent(4)">Feedback</a>
     

    <mat-divider></mat-divider>

    <h1 matSubheader style="color: red;font-weight: bold;">Products Running Low on Storage</h1>
    <ul *ngFor="let element of arr">
        <li>{{element}}</li>
    </ul>      
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a> -->

</mat-nav-list>