<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span> <img src=" http://dotndashgraphics.com/uploads/597eead1d8989.jpg " width="80px" height="60px"></span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                     

                </li>
                <li>
                    <a class = "nav" style="cursor:pointer" (click)="loginService.logout()">Logout</a>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>