<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span> <img src=" http://dotndashgraphics.com/uploads/597eead1d8989.jpg " width="80px" height="60px"></span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                 
                 
                <li>
                    <a class = "nav" style="cursor:pointer" (click)="loginService.logout()">logout</a>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

