ul li {
  list-style: none;
}

.mat-icon{
  padding-right: 20px;
}
div{
  color: white;
}
mat-toolbar{
  background-color:  rgb(7, 99, 96) ;
}
span{
  color: white;
}
mat-icon{
  color: white;
}
ul li {
  list-style: none;
}
