<div style="position: absolute;
top: 110px;
right: 30px;">
<button type="button" class="btn btn-outline-primary btn-lg" (click)="openDialog()">Add + </button>
</div>
<table class="table table-hover table-dark">
    
    <thead>
      <tr>
        <th scope="col">User Id</th>
        <th scope="col">User Name</th>
        <th scope= "col">Password</th>
         
        <!--<th scope="col">Wallet Balance</th>-->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let otherusers of details">
        <td>{{otherusers.userId}}</td>
        <td>{{otherusers.userName}}</td>
        <td>{{otherusers.password}}</td>
         
        <!--<td>{{users.wallet_balance}}</td>-->
           
        <!--<td><button type="button" class="btn btn-outline-danger" (click)="onDelete(users.email)">Delete</button></td>-->
        <td>
          <button type="button" class="btn btn-outline-primary" (click)="openUpdateDialog(otherusers)">Update</button> 
          <button type="button" class="btn btn-outline-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

