.btn{
    background-color: rgb(6, 68, 66) ;
    box-shadow: 0 10px 30px rgba(0,0,0,.5);
  
}
#btn-add{
    background-color: rgb(6, 68, 66) ;
    color: white;
}
#btn-add:hover{
    background-color:rgb(80, 145, 7);
    color: white;
}
#btn-update{
    background-color: rgb(6, 68, 66) ;
    color: white;
}
#btn-update:hover{
    background-color:rgb(80, 145, 7);
    color: white;
}
#btn-delete{
    background-color: brown;
    color: white;
    margin-left: 50px;
}
#btn-delete:hover{
    background-color:rgb(80, 145, 7);
    color: white;
}