<div>
    <form class="form-inline my-2 my-lg-0">
        <h1>Products</h1>
        <div style="position: absolute;
        top: 20px;
        right: 30px;">
        <button type="button" class="btn btn-outline-primary btn-lg"   margin (click)="openDialog()">Add + </button>
        </div>
        <div style="position: absolute;
        top: 25px;
        right: 150px;">
        Search <input class="form-control mr-sm-2" type="search" placeholder="Search products" [(ngModel)]="brandName" name="first" (input)='search()'>
        </div>
    </form>
</div>

<br>

<mat-divider></mat-divider>
<br>
<table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Barcode</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product price</th>
            <th scope="col">Stock</th>
            <th scope="col">Re-order Level</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pro of details">
            <td>{{pro.barcodeNumber}}</td>
            <td>{{pro.brand}}</td>
            <td>{{pro.price}}</td>
            <td>{{pro.stock}}</td>
            <td>{{pro.reOrderLevel}}</td>
            <td><button type="button" class="btn btn-outline-primary" (click)="openUpdateDialog(pro)">Update</button>  
              <button type="button"   class="btn btn-outline-danger" (click)="onDelete(pro.barcodeNumber)">Delete</button>
              <button type="button"   class="btn btn-outline-success" (click)="onAddPromo(pro)">Add Promo</button>
            </td>
          </tr>
        </tbody>
      </table>

    
<br>