body{
    background-color: rgb(173, 173, 173);
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    
  }

  h1{
    padding-left: 200px;
    padding-top: 10px;
    color: darkred;
    font-weight: bold;
    font-size: 60px;
  }
  table {
    border-collapse: collapse;
    margin-left: 2px;
    margin-right: 2px;
    background-color:rgba(0, 0, 0, 0.651);
    opacity: 10.0;
    color: white;
    
  }
  th {
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color:  rgb(7, 99, 96) ;
  }

  .btn{
    font-size: 16px;
    color: #fff;
    margin: 4px;
    width: 108px;
    box-shadow: 0 5px 15px -5px #00000070;
  }
  #btn-update {
    color: #ffffff;
    background-color:  rgb(6, 68, 66) ;
  }
  #btn-update:hover {
    color: white;
    background-color: rgb(29, 29, 216);
  }
  
  #btn-delete {
    color: #ffffff;
    background-color: rgb(6, 68, 66) ;
  }
  #btn-delete:hover {
    color: white;
    background-color:brown;
  }
  
  #btn-promo:hover {
    color: white;
    background-color: olivedrab;
  }
  
  #btn-promo {
    color: #ffffff;
    background-color: rgb(6, 68, 66) ;
  }

  #btn-add:hover {
    color: #ffffff;
    background-color: olivedrab;
  }
  
  #btn-add {
    color: #ffffff;
    background-color: rgb(19, 80, 82);
  }

  #search{
    box-shadow: 0 5px 15px -5px #00000070;
    
  }

  