.example-card{
    background-color: rgb(181, 56, 240);    
    margin-bottom: 10px;
    // height: 150px;
  }
  
  .example-header-image {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ficons.iconarchive.com%2Ficons%2Fpaomedia%2Fsmall-n-flat%2F512%2Fuser-male-icon.png&f=1&nofb=1');
    background-size: cover;
  }