<h1 mat-dialog-title>Products Update</h1>
<mat-dialog-content> 
    <form #form="ngForm" (submit)="onUpdate(form)">
        <div class = "form-group">
            <label>Barcode number</label>
            <input name="barcode" class="form-control" #barcode="ngModel" [(ngModel)]="service.formData.barcodeNumber">
        </div>
        <div class="form-group">
            <label>Product Name</label>
            <input name="brand" class="form-control" #brand="ngModel" [(ngModel)]="service.formData.brand">
        </div>
        <div class="form-group">
               <label>Unit Price</label> 
               <input name="price" class="form-control" #price="ngModel" [(ngModel)]="service.formData.price">
        </div>
        <div class="form-group">
            <label>Stock</label> 
            <input name="stock" class="form-control" #stock="ngModel" [(ngModel)]="service.formData.stock">
        </div>
        <div class="form-group">
            <label>Re-order Level</label> 
            <input name="reOrderLevel" class="form-control" #reOrderLevel="ngModel" [(ngModel)]="service.formData.reOrderLevel">
        </div>
     
     
        
         <br/>
           <button class="btn btn-primary" type="submit" mat-dialog-close> Submit </button>
              <button class="btn btn-primary" type="reset" mat-dialog-close> Clear </button>            
    </form>