
table {
    border-collapse: collapse;
    margin-left: 2px;
    margin-right: 2px;
    background-color:rgba(0, 0, 0, 0.651);
    opacity: 10.0;
    color: white;
    
  }
  th {
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color:  rgb(7, 99, 96) ;
  }
   .btn{
       background-color: rgb(6, 68, 66) ;
       color :white;
       border: white;
       border-radius: 2px;
       border-width: thick;
       
   }
   #btn-delete{
    background-color: brown;
    color: white;
  }
  #btn-delete:hover{
    background-color: rgb(6, 68, 66) ;
    color : white;
    
  }
  
 