<h1 mat-dialog-title>Enter details</h1>
<mat-dialog-content> 
    <form [formGroup]="usersAddForm" (ngSubmit)="onClick(usersAddForm.value)" >
        <div class = "form-group">
            <label>User Name</label>
            <input type="text" class="form-control" formControlName="UserName" [ngClass]="{'is-invalid':usersAddForm.get('UserName').touched && usersAddForm.get('UserName').invalid}">
            <div class="invalid-feedback">
                    <div>Username is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="text"class="form-control" formControlName="Password" [ngClass]="{'is-invalid':usersAddForm.get('Password').touched && usersAddForm.get('Password').invalid}">
            <div class="invalid-feedback">
                    <div>Password is required</div>
                </div>
        </div>
        <div class="form-group">
                <label>Confirm Password</label>
                <input type="text"class="form-control" formControlName="Confirm_Password" [ngClass]="{'is-invalid':usersAddForm.get('Confirm_Password').touched && usersAddForm.get('Confirm_Password').invalid}">
                <div class="invalid-feedback">
                        <div>Password is required</div>
                    </div>
            </div>
        <br/>
        <button class="btn" type="submit" id="btn-add" mat-dialog-close [disabled]="!usersAddForm.valid"> Add </button>
        <button class="btn" type="reset" id="btn-clear" mat-dialog-close> Clear </button> 
    </form>
