<div>
    <form class="form-inline my-2 my-lg-0">
        <div class="text">
            <h1>{{name}}</h1>
        </div>
         
         
        <!-- <div style="position: absolute;
        top: 25px;
        right: 300px;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search products" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div> -->
    </form>
</div>

<br>

<mat-divider></mat-divider>
<br>
      <app-registered-users *ngIf="component === 0" ></app-registered-users>
       
<br>