body{
    background-color: darkgrey;
  
}
h1{
    color: darkred;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 50px;
}

  .btn{
    background-color:rgb(6, 68, 66) ;
    box-shadow: 0 10px 30px rgba(0,0,0,.5);
  }
  #btn-registered{
      background-color: rgb(6, 68, 66) ;
      color: white;
  }
  #btn-registered:hover{
      background-color: rgb(80, 145, 7);
      color: white;
  }
  #btn-system{
    background-color: rgb(6, 68, 66) ;
    color: white;
}
#btn-system:hover{
    background-color: rgb(80, 145, 7);
    color: white;
}