<app-header (toggleSideBarForMe)="sideBarToggler($event)"></app-header>

<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidebar (childEvent)="selectedComponent=$event"></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <app-users *ngIf="selectedComponent === 1" ></app-users>
        <app-products *ngIf="selectedComponent === 2" ></app-products>
        <app-promotions *ngIf="selectedComponent === 3" ></app-promotions>
        <app-feedback *ngIf="selectedComponent === 4" ></app-feedback>
        <app-preorder *ngIf="selectedComponent === 5" ></app-preorder>
    </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>