<h1 mat-dialog-title>Accept Preorder?</h1>
<mat-dialog-content> 
    <p>{{service.formPre.totalPrice}}</p>
    <div *ngFor="let br of service.formPre.brand">
        <div *ngFor="let pr of service.formPre.price">
            <tr *ngFor="let am of service.formPre.quantity">
                    <td>{{br}} {{pr}} {{am}}</td>
            </tr>
        </div>
    </div>
   
     
</mat-dialog-content>
<mat-dialog-actions>
    <button class="btn btn-primary" margin-left = 12px mat-dialog-close>Decline</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button class = "btn btn-primary" margin-left = 12px  mat-dialog-close (click)="accept(service.formPre.docId)">Accept</button>
</mat-dialog-actions>
