
<div class="sidenav">
    <div class="login-main-text">
        
        
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
         <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" >
            <div class="logo">
               <img src="logo.png" width="200px" height="200px">
             </div>
            <div class="login-form-text">
               <a>WELCOME  to SMARTMART</a>
            </div>
             
            <div class = "form-group">
                <label>Username</label>
                <input type="text" class="form-control" formControlName="userName">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password">
            </div><br/>
            <span><a href="#">Forgot password?</a></span>
            
             <br/><br/><br/>
               <button class="btn btn-primary" margin-left = 12px type="submit"> Login </button>
               <button class="btn btn-primary" margin-left=12px type="reset"> Clear </button>            
        </form>
       </div>
    </div>
 </div>