body {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    background-color: rgb(109, 108, 107);
}



.main-head{
    height: 100px;
    background: rgb(87, 181, 243);
   
}

.sidenav {
    height: 100%;
    background-image: url("mart13.jpg");

    overflow-x: hidden;
    padding-top: 20px;
}
.logo{

    image-rendering: optimizeQuality;
    
  
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 10%;

    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 30%;
    margin-left: 5%;
    padding: 60px;
    font-family: cursive;
    font-size: 40px;
    font-weight: bold;
    color: rgb(19, 19, 20);
}

.login-form-text {
     
    padding: 15px;
    font-family: round($number: 3);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    color: rgb(112, 6, 112);
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
    margin-left: 12px;
}

button{
    margin-right: 4rem;
    margin-left: 3rem;
    border-color: rebeccapurple;
    background-color: rebeccapurple;
    
}

.form-group{
    font-weight: bold;
    font-size: 18px;

}