
<!--<div class="sidenav">
    <div class="login-main-text">
        
        
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
         <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" >
            <div class="logo">
               <img src=" http://dotndashgraphics.com/uploads/597eead1d8989.jpg " width="300px" height="200px">
             </div>
            <div class="login-form-text">
               <a>WELCOME  to SMARTMART</a>
            </div>
             
            <div class = "form-group">
                <label>Username</label>
                <input type="text" class="form-control" formControlName="userName">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password">
            </div><br/>
            <span><a href="#">Forgot password?</a></span>
            
             <br/><br/><br/>
               <button class="btn btn-primary" margin-left = 12px type="submit" > Login </button>
               <button class="btn btn-primary" margin-left=12px type="reset"> Clear </button>            
        </form>
       </div>
    </div>
 </div>-->
 <!--<body>
   
   <div class="login-wrapper" fxLayout="row"fxLayoutAlign="center">
   <mat-card class="box">
      <img src="assets/admin.png" class="avatar">
      <mat-card-header>
         <mat-card-title>Log in</mat-card-title>
      </mat-card-header>

  <form class="example-form" [formGroup]="form" (ngSubmit)="formSubmit()"></form>
   <mat-card-content>
      <mat-form-field class="examlpe-full-width">
         <input matInput type="email" placeholder="Email" formControlName="email">
      </mat-form-field>
      
         
      

      <mat-form-field class="example-full-width">
         <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
   </mat-card-content>
      

   
   </mat-card>
   </div>
</body>-->

<body>
   <div class="login-box">
      <img src="assets/admin.png" class="admin">
      <h1>Log in Here</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
         <div>
               <p>Username</p>
               <input type="text" name="username" placeholder="Enter Username" formControlName="userName" [ngClass]="{'is-invalid':loginForm.get('userName').touched && loginForm.get('userName').invalid}">
               <div class="invalid-feedback">
                  <div>Username is required</div>
              </div>
         </div>
         <div>
               <p>Password</p>
               <input type="password" name="password" placeholder="Enter Password" formControlName="password" [ngClass]="{'is-invalid':loginForm.get('password').touched && loginForm.get('password').invalid}">
               <div class="invalid-feedback">
                  <div>Password is required</div>
              </div>
         </div>
         
         <button value="Login" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
   
      </form>
   </div>
</body>
 

    