.pending-form-text {
     
    padding: 15px;
    font-family: round($number: 3);
    font-style: bold;
    font-size: 40px;
    font-weight: bold;
    color: rgb(112, 6, 112);
}

.example-card{
    background-color: yellowgreen;
    height: fit-content;
    width: fit-content;
}