.btn{
    font-size: 16px;
    color: #fff;
    margin: 4px;
    width: 108px;
    box-shadow: 0 5px 15px -5px #00000070;
  }
#btn-add {
    color: #ffffff;
    background-color: rgb(19, 80, 82);
  }
#btn-add:hover {
    color: #ffffff;
    background-color: olivedrab;
  }
#btn-clear {
    color: #ffffff;
    background-color: brown
  }
#btn-clear:hover {
    color: #ffffff;
    background-color: olivedrab;
}